.main-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-simple-container);

    > .main-section__div {
        width: clamp(20rem, 100%, 35rem);

        &:last-child {
            align-self: flex-end;

            > .main-section__div--mini-game {
                padding-bottom: var(--padding-organism);
            }
        }
    }
}
