.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-simple-container);

    > .main-section__div {
        align-self: flex-end;

        > .main-section__div--mini-game {
            padding-bottom: var(--padding-organism);
        }
    }
}
