.manga-dialog {
    > .manga-dialog__div {
        height: 100%;
        border-radius: 50%;
        border: solid var(--border-regular-width) var(--color-dark);

        > div {
            height: 100%;
            align-content: center;
            border-radius: 50%;
            text-align: center;
            background-color: var(--color-light);
            font-family: 'Yoruka';
        }
    }

    &::after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: auto;
        transform: translateY(-1em) rotate(45deg);
        border-right: solid var(--border-regular-width) var(--color-dark);
        border-bottom: solid var(--border-regular-width) var(--color-dark);
        background-color: var(--color-light);
    }

    &.regular {
        max-width: 20rem;
        aspect-ratio: 1 / 0.6;
    }
}
