.manga-dialog {
    font-family: 'Yoruka';

    > .manga-dialog__div {
        height: 100%;
        border-radius: 50%;
        border: solid 0.25rem var(--color-dark);

        > div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--padding-molecule);
            border-radius: 50%;
            background-color: var(--color-light);
        }
    }

    &::after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: auto;
        transform: translateY(-1rem) rotate(45deg);
        border-right: solid 0.25rem var(--color-dark);
        border-bottom: solid 0.25rem var(--color-dark);
        background-color: var(--color-light);
    }

    &.regular {
        max-width: 20rem;
        aspect-ratio: 1 / 0.5;
    }
}
