.manga-dialog {
    padding-bottom: calc(1rem + var(--border-large-width) - 0.40rem);
    position: relative;

    > .manga-dialog__div {
        height: 100%;
        border-radius: 50%;
        border: solid var(--border-large-width) var(--color-dark);


        > div {
            padding: var(--padding-molecule);
            height: 100%;
            align-content: center;
            border-radius: 50%;
            text-align: center;
            background-color: var(--color-light);
            font-family: var(--font-family-manga);
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: 50%;
        transform: translate(-50%, calc(-0.40rem - var(--border-large-width))) rotate(45deg);
        border-right: solid var(--border-large-width) var(--color-dark);
        border-bottom: solid var(--border-large-width) var(--color-dark);
        background-color: var(--color-light);
    }

    &.regular {
        max-width: 20rem;
        aspect-ratio: 1 / 0.65;
    }
}
