.manga-panel {
    height: 100%;
    clip-path: inherit;
    padding: var(--padding-molecule);
    overflow: hidden;
    position: relative;
    background-color: var(--color-light);

    > .span {
        position: absolute;
        top: var(--padding-molecule);
        right: var(--padding-molecule);
        padding: var(--padding-atom);
        background-color: var(--color-warm-silver);
    }
}
