.pixel-art-character {
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.show-container {
        background-color: var(--color-steel-grey);
    }

    &.art-hamtaro {
        &.small {
            width: 1.9rem;
            height: 1.9rem;

            > div {
                transform: scale(0.1);
            }
        }
    }

    &.art-anime-umi {
        &.regular {
            width: 9.5rem;
            height: 16.5rem;

            > div {
                transform: scale(1);
            }
        }
    }
}
