.descriptive-card {

    > header {
        position: relative;
        width: 80%;
        margin: auto;
        transform: translateY(15%);
        z-index: 10;
    }

    > .descriptive-card__section {
        position: relative;
        display: flex;

        > .descriptive-card__div--poster {
            z-index: 20;
            align-content: end;
        }

        > .descriptive-card__div--photo {
            align-self: flex-end;
            z-index: 10;
        }

        > .descriptive-card__div--background {
            position: absolute;
            inset: 0;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 20;
            filter: opacity(0.2);
            background-color: var(--color-vintage-rose);
        }
    }
}
