.descriptive-card {
    display: flex;
    flex-direction: column;
    max-width: 32rem;

    > header {
        transform: translateY(15%);
        z-index: 10;
    }

    > .descriptive-card__section {
        position: relative;
        height: 38rem;
        display: flex;

        > .descriptive-card__div--poster {
            position: relative;
            z-index: 30;
            align-self: center;
        }

        > .descriptive-card__div--photo {
            align-self: flex-end;
            z-index: 10;
        }

        > .descriptive-card__div--background {
            position: absolute;
            inset: 0;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 20;
            background-color: var(--color-vintage-rose);
            filter: opacity(0.2);
        }
    }
}
