.descriptive-card {
    display: flex;
    flex-direction: column;
    max-width: 35rem;

    > header {
        z-index: 10;
        transform: translateY(15%);
    }

    .descriptive-card__section {
        position: relative;
        height: 41rem;

        > .descriptive-card__div--content {
            position: relative;
            height: 100%;
            display: flex;
            z-index: 10;
            border-top: solid var(--border-radius-atom) transparent;
            border-bottom: solid var(--border-radius-atom) transparent;

            > .descriptive-card__div--vertical-poster {
                align-self: center;
                z-index: 100;
            }

            > .descriptive-card__div--image {
                user-select: none;
                align-self: flex-end;
                filter: brightness(0) drop-shadow(0px 0px 4px var(--color-dark));
            }
        }

        > .descriptive-card__div--background {
            position: absolute;
            inset: 0;
        }

        &:hover {
            .descriptive-card__div--image {
                filter: brightness(0.8) drop-shadow(0px 0px 4px var(--color-dark));
            }
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--color-vintage-rose);
            filter: opacity(0.2);
        }
    }
}
