.personal-information {
    display: flex;
    flex-direction: column;
    gap: var(--gap-organism);

    .title:first-child {
        padding-bottom: var(--padding-molecule);
    }

    .button-link-downloader {
        align-self: flex-start;
    }

    .personal-information__div--social {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-molecule);

        .copy-email-clipboard {
            align-self: flex-end;
        }
    }

    @media (width < 400px) {
        .title {
            text-align: center;
        }

        .button-link-downloader {
            margin: auto;
        }

        .personal-information__div--social {
            justify-content: center;
        }
    }
}
