.hitai-ate {
    position: relative;
    width: fit-content;

    > .hitai-ate__div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0.4rem;
        background-color: var(--color-misty-gray);
        border-radius: var(--border-radius-simple-molecule);
        box-shadow: 0 0 5px 2px var(--color-charcoal-shadow) inset;

        > div {
            padding: 0.2rem;
            background-color: var(--color-soft-moss);
            box-shadow: 0 0 5px 2px var(--color-charcoal-shadow);
            border-radius: var(--border-radius-atom);
        }
    }
}
