.primary-header {
    position: relative;

    > .primary-header__div--background {
        position: absolute;
        inset: 0;

        > .image {
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: var(--color-slate-gray);
                filter: opacity(0.5);
            }
        }
    }

    > .primary-header__div--content {
        position: relative;
        padding-left: var(--padding-molecule);
        padding-bottom: var(--padding-molecule);
    }

    @media (width < 60rem) {
        background-color: var(--color-charcoal-grey);

        > .primary-header__div--background {
            inset: 0;
            height: 25rem;
        }
    }
}
