.primary-header {
    --filter-opacity: opacity(0.65);

    position: relative;
    padding-left: var(--padding-viewport);
    padding-bottom: var(--padding-viewport);

    > .primary-header__div {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--color-slate-gray);
            filter: var(--filter-opacity);
        }
    }

    > .header-content {
        padding-top: var(--padding-viewport);
    }

    @media (width < 60rem) {
        background-color: var(--color-charcoal-grey);
        padding: unset;

        > .header-content {
            padding-top: unset;
        }

        > .primary-header__div {
            aspect-ratio: 1 / 0.65;
        }
    }
}
