.primary-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    > .primary-header__background-image {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--filter-overlay-art);
            filter: var(--filter-overlay-opacity);
        }
    }


    @media (width < 90rem) {
        flex-direction: column-reverse;
        background-color: var(--bg-body);

        > .primary-header__background-image {
            aspect-ratio: 1 / 0.65;
        }

        > .chessboard-nav {
            margin-left: auto;
        }
    }
}
