.technological-tools {
    > .technological-tools__div {
        &:first-child {
            padding-bottom: var(--padding-organism);
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            gap: var(--gap-organism);
            max-width: 60rem;
            margin: 0 auto;
        }
    }
}
