.icon-button {
    display: block;
    justify-items: center;
    background-color: transparent;
    border: dashed var(--border-regular-width) var(--color-charcoal-grey);
    border-radius: var(--border-radius-molecule);
    cursor: pointer;

    &.regular {
        width: 4rem;
        height: 4rem;
    }
}
