.main-header {
    --filter-overlay-content: #472f47;
    --filter-overlay-opacity: opacity(0.6);
    --box-shadow-selected: 0 -0.25rem 0.25rem #202020;
    --transform-translate-selected: translateY(0.5rem);


    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    > .main-header__background-image {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--bg-page-main-header);
            filter: var(--filter-overlay-opacity);
        }
    }


    @media (width < 90rem) {
        flex-direction: column-reverse;
        background-color: var(--bg-body);

        > .main-header__background-image {
            aspect-ratio: 1 / 0.65;
        }

        > .action-panel {
            margin-left: auto;

            @media (width < 40rem) {
                margin: auto;
            }
        }
    }
}
