.scheme-theme {
    color: #37424e;
    color: #e9e9e9;
    color: #472f47;
    color: #ffc685;
    color: #202020;

    /* Dynamic color scheme */

    /* Light */
    color: #554d74;
    /* Dark */
    color: #37424e;
}

.main-header {
    --filter-overlay-content: #472f47;
    --filter-overlay-opacity: opacity(0.6);
    --box-shadow-selected: 0 -0.25rem 0.25rem #202020;
    --transform-translate-selected: translateY(0.25rem);


    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    > .main-header__background-image {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--bg-page-main-header);
            filter: var(--filter-overlay-opacity);
        }
    }


    @media (width < 90rem) {
        flex-direction: column-reverse;
        background-color: var(--bg-body);

        > .main-header__background-image {
            aspect-ratio: 1 / 0.65;
        }

        > .action-panel {
            margin-left: auto;
        }
    }
}
