.main-header {
    --filter-overlay-content: #472f47;
    --filter-overlay-opacity: opacity(0.6);
    --box-shadow-selected: 0 0 0.5rem 0.25rem #202020;


    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .main-header__bg {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #634a5e;
            filter: var(--filter-overlay-opacity);
        }
    }

    .main-header__control-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-simple-organism);
    }

    &.activity-bar:has(input[for="nav"]:checked) .chessboard-nav {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 40;
    }

    @media (width < 80rem) {
        flex-direction: column-reverse;

        .main-header__bg {
            display: none;
        }

        .main-header__control-panel {

            &:has(input[for="nav"]:checked) {

                .action-panel {
                    z-index: 20;
                }

                .chessboard-nav {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 40;

                    @media (width < 50rem) {
                        top: 55%;
                    }
                }

                &::before {
                    content: "";
                    position: fixed;
                    inset: 0;
                    top: 0;
                    z-index: 20;
                    background-color: #000000a9;
                }
            }

            &:has(input[for="nav"]:not(:checked)) .chessboard-nav {
                display: none;
            }
        }
    }
}
