.button-link-downloader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-molecule);
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color-light);
    padding: var(--padding-molecule);
    border-radius: var(--border-radius-molecule);
    background-color: var(--bg-btn-download);
}
