.button-link-downloader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-light);
    cursor: pointer;
    padding: var(--padding-molecule);
    border-radius: var(--border-radius-molecule);
    background-color: var(--color-olive-green);
}
