.square-shaped-anchor-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > .transform-effect {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 1px var(--color-light-silver);
        will-change: transform;
        transition:
            transform var(--transition-seconds) linear;
    }

    &.regular {
        width: 200px;
        height: 200px;
    }

    &.auto {
        width: 100%;
        height: 100%;
    }

    &:hover {
        > .transform-effect {
            transform: var(--scale3d);
            transform-origin: center center;
        }
    }
}
