.technical-skills {
    display: flex;
    gap: var(--gap-double-organism);
    flex-wrap: wrap;

    > .skills-implemented-work {
        &:last-child {
            > .title {
                padding-bottom: 4.5rem;
            }
        }
    }
}
