.congratulation-sign-mini-game {
    padding: 0 var(--padding-molecule);
    font-family: var(--font-family-impact);
    background-color: var(--color-coffee-brown);
    animation: hidden 2s ease forwards;

    > .paragraph {
        text-align: center;
        letter-spacing: 0.6rem;
    }
}

@keyframes hidden {
    from {
        filter: opacity(1);
    }

    to {
        filter: opacity(0);
        display: none;
    }
}
