.button-toggle-theme {
    display: block;
    justify-items: center;
    padding: var(--padding-simple-molecule);
    border-radius: var(--border-radius-atom);
    filter: opacity(0.9);
    transition:
        transform var(--transition-fast-seconds) ease,
        box-shadow var(--transition-fast-seconds) ease;

    &:has(input[type='radio']:checked) {
        filter: unset;
        box-shadow: var(--box-shadow-selected);
        transform: var(--transform-translate-selected);
        z-index: 10;
    }

    &:hover {
        filter: var(--filter-brightness-hover);
    }

    &.light {
        background-color: #e9e9e9;
        color: var(--text-color-dark);
    }

    &.dark {
        background-color: #37424e;
        color: var(--text-color-light);
    }
}
