.manga-panel {
    height: 100%;
    position: relative;
    padding: var(--padding-molecule);
    background-color: #ffffff;
    color: var(--text-color-dark);

    > .span {
        position: absolute;
        top: var(--padding-molecule);
        right: var(--padding-simple-molecule);
        padding: var(--padding-simple-molecule);
        background-color: #d6d6d6;
        border-radius: var(--border-radius-atom);
    }
}
