.about-me {

    > header {
        padding-bottom: var(--padding-container);
    }

    > section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-container);
        max-width: 80rem;
        margin: 0 auto;

        > .about-me__div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--gap-organism);

            > .about-me__div--goals {
                flex: 1;
                background-color: var(--color-muted-purple);
                padding: var(--padding-simple-organism) 0;
                border-radius: var(--border-radius-simple-organism);
            }
        }
    }
}
