.about-me {
    > .title {
        padding-bottom: var(--padding-container);
    }

    > section {
        > .about-me__div {
            display: flex;
            gap: var(--gap-container);
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: var(--padding-container);

            > div {
                display: flex;
                flex-direction: column;
                gap: var(--gap-organism);
                align-self: flex-end;
                max-width: 30rem;
            }
        }
    }
}
