.pixel-art-dialog {
    > .pixel-art-dialog__div {
        display: flex;
        flex-direction: column-reverse;
        position: relative;

        > .pixel-art-dialog__div--control {
            position: absolute;
            left: 20%;
            bottom: 10%;
            z-index: 10;
            display: none;

            @media (width < 30rem) {

                display: block;

                &:has(input[type="radio"][id="paragraph-main"]:checked) {

                    + .pixel-art-dialog__div--content {

                        .paragraph {

                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }

                &:has(input[type="radio"][id="paragraph-secondary"]:checked) {

                    + .pixel-art-dialog__div--content {

                        .paragraph {

                            &:first-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        > .pixel-art-dialog__div--content {
            width: fit-content;
            position: relative;
            margin-left: auto;
            display: flex;
            justify-content: center;

            > .pixel-art-dialog__div--texts {
                position: absolute;
                top: 12.5%;
                width: max(75%, 80%);
                font-family: 'Courier New';
                font-weight: bold;
                text-align: center;


                @media (width < 30rem) {
                    top: 20%;

                    > .paragraph {
                        transition: filter var(--transition-slow-seconds) ease;

                        filter: opacity(1);

                        @starting-style {
                            filter: opacity(0);
                        }
                    }

                    > br {
                        display: none;
                    }
                }
            }
        }
    }
}
