.icon-font-svg {
    > svg {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }

    &.regular {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.medium {
        width: 2.5rem;
        height: 2.5rem;
    }
}
