.parchment-tool-name {
    position: relative;
    inline-size: max-content;

    > .parchment-tool-name__div {
        position: absolute;
        top: 50%;
        right: 3.3%;
        transform: translateY(-50%);
        width: 82%;
        height: 42.5%;
        filter: sepia(0.2);
        justify-items: center;
        align-content: center;
        font-family: Yoruka;
    }
}
