.parchment-tool-name {
    position: relative;
    inline-size: max-content;

    .parchment-tool-name__div {
        position: absolute;
        top: 50%;
        right: 2.8%;
        transform: translateY(-50%);
        width: 82.5%;
        height: 43%;
        filter: sepia(0.2);
        justify-items: center;
        align-content: center;
        font-family: var(--font-family-manga);

        .parchment-tool-name__div--name {
            transform: rotate(-4deg);
        }
    }

    &.with-tool-badge {

        .parchment-tool-name__div {
            display: flex;
            justify-content: center;
            align-items: center;

            .parchment-tool-name__div--name {
                transform: unset;
                padding-left: var(--padding-molecule);
            }
        }
    }
}
