.manga-dialog {
    background-color: yellow;
    max-width: 25rem;

    > div {
        padding: 0.25rem;
        border-radius: 50%;
        background-color: var(--color-dark);
        position: relative;

        > div {
            width: 100%;
            border-radius: 50%;
            padding: var(--padding-organism);
            background-color: var(--color-light);
        }

        &::before {
            content: '';
            position: absolute;
            left: 40%;
            bottom: -1rem;
            transform: translateX(-50%);
            z-index: 1;
            transform: rotate(-45deg);
            width: 2rem;
            height: 2rem;
            border-left: solid 0.25rem var(--color-dark);
            border-bottom: solid 0.25rem var(--color-dark);
            background-color: var(--color-light);
        }
    }

}
