.horizontal-poster {
    background-color: lightpink;

    > .horizontal-poster__div {
        background-color: lightcoral;
        height: 12rem;
        padding: 0 2rem;

        > .horizontal-poster__div--box {
            overflow: hidden;
            position: relative;
            height: 100%;
            background-color: aliceblue;

            > .horizontal-poster__div--content {
                width: 105%;
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%) rotate(-5deg);
                background-color: yellow;

                > .paragraph {
                    font-family: 'Yoruka';

                    background-color: green;

                    &:last-child {
                        background-color: var(--color-vintage-rose);
                        background-color: green;
                    }
                }
            }
        }
    }
}
