.pixel-art-scene-my-goals {

    &.secondary-scene {

        > .pixel-art-scene-my-goals__div {
            position: relative;

            > .pixel-art,
            > .floating-shelves {
                z-index: 10;

                &:nth-child(1) {
                    grid-column: 2;
                    grid-row: 3;
                }

                &:nth-child(2) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &:nth-child(3) {
                    grid-column: 1;
                    grid-row: 4;
                }

                &:nth-child(4) {
                    grid-column: 4;
                    grid-row: 3;
                    transform: rotate(105deg);
                    margin: auto;
                }

                &:nth-child(5) {
                    grid-column: 3;
                    grid-row: 1;
                    margin: auto;
                }

                @media (width < 50rem) {
                    &:nth-child(1) {
                        grid-column: 2;
                        z-index: 20;
                    }

                    &:nth-child(3) {
                        z-index: 20;
                    }

                    &:nth-child(4) {
                        display: none;
                    }

                    &:nth-child(5) {
                        grid-column: 4;
                    }
                }
            }

            &::after {
                background: #d7a67a;

                box-shadow:
                    1.875rem 1.25rem 0 0.625rem #c38c5c,
                    -1.25rem 0.625rem 0 2.9375rem #b77b52,
                    0.625rem -0.3125rem 0 1.25rem #a06a47;
            }
        }
    }
}
