.tool-badge {

    > .tool-badge__div {
        padding: var(--padding-atom);
        border-radius: var(--border-radius-atom);
        background-color: #d4d4d4;
        box-shadow: 0 0 0.10em 0.20em #3b3b3b;
    }
}
