.acquired-competencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--gap-organism);
    grid-auto-rows: 1fr;

    > .acquired-competencies__div {
        display: flex;

        > .competency-professional {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
