.primary-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-coffee-brown);
    gap: var(--gap-organism);
    padding: 0 var(--padding-molecule);


    > div {
        max-width: 80rem;
        margin: auto;
        padding: var(--padding-organism) 0;

        > section {
            display: flex;
            gap: var(--gap-double-organism);


            @media (width < 60rem) {
                flex-direction: column;
            }

            &:first-child {
                border-bottom: dotted var(--color-light-silver) 0.05rem;
                padding-bottom: var(--padding-simple-container);

                > .specialization-technological-skills {
                    max-width: 40rem;
                }

                > .about-me {
                    max-width: 35rem;
                }
            }

            &:last-child {
                padding-top: var(--padding-organism);

                > div {
                    &:first-child {
                        max-width: 35rem;

                        > .paragraph:first-child {
                            padding-bottom: var(--padding-simple-molecule);
                        }
                    }
                }

                > .professional-contact-methods {
                    margin-left: auto;
                }
            }
        }
    }
}
