.photo-enigma {
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;

    filter: brightness(0.8) drop-shadow(0px 0px 4px var(--color-dark));

    &.hidden {
        filter: brightness(0) drop-shadow(0px 0px 4px var(--color-dark));
    }

    .picture {
        transition: filter var(--transition-slow-seconds) ease;

        @starting-style {
            filter: opacity(0);
        }
    }
}
