.competency-description {
    > div {
        display: flex;
        align-items: center;
        gap: var(--gap-molecule);
        margin-bottom: var(--padding-organism);
    }

    > .paragraph {
        padding-left: calc(var(--gap-molecule) * 2.5);
    }
}
