.competency-description {
    > .competency-description__div {
        &:first-child {
            > .competency-description__div--title {
                padding-top: var(--padding-simple-organism);
            }
        }

        &:last-child {
            padding-top: var(--padding-simple-organism);
            justify-items: center;

            > .competency-description__div--text {
                padding: var(--padding-molecule);
                background-color: var(--color-blush-petal);
                border-radius: var(--border-radius-molecule);
            }
        }
    }
}
