.competency-description {
    > div {
        &:first-child {
            > .title {
                padding-top: var(--padding-molecule);
            }
        }

        &:last-child {
            padding-top: var(--padding-molecule);
            display: flex;
            flex-direction: column;
            align-items: center;

            > .pixel-art {
                transform: translateY(1.5rem);
            }

            > .paragraph {
                padding: var(--padding-molecule);
                background-color: var(--color-blush-petal);
                border-radius: var(--border-radius-molecule);
            }
        }
    }
}
