.company-details {
    color: #d49c6b;

    > .company-details__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-simple-molecule);
        padding-top: var(--padding-simple-molecule);
    }
}
