.professional-information {
    > .title {
        &.h1 {
            padding-bottom: var(--padding-molecule);
        }
    }

    > .button-link-downloader {
        margin-top: var(--padding-simple-organism);
        margin-bottom: var(--padding-simple-organism);
        width: fit-content;
    }
}
