.professional-information {
    display: flex;
    flex-direction: column;

    > .title {
        &.h1 {
            padding-bottom: var(--padding-molecule);
        }
    }

    > .button-link-downloader {
        margin-right: auto;
        margin-top: var(--padding-simple-organism);
        margin-bottom: var(--padding-simple-organism);
    }
}
