.icon-background {
    background-color: var(--color-cool-sky);
    border-radius: var(--border-radius-atom);
    display: flex;
    justify-content: center;
    align-items: center;

    &.regular {
        width: 2.5rem;
        height: 2.5rem;
    }
}
