.details-summary {
    width: min(100%, 25rem);

    > summary {
        padding: var(--padding-molecule);
        background-color: var(--background-color);
        border-radius: var(--border-radius-simple-molecule);
        color: var(--color-dark);
    }

    > ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--gap-molecule);

        > *:first-child {
            padding-top: var(--padding-molecule);
        }
    }

    &::details-content {
        display: block;
        block-size: 0;
        overflow: hidden;
        transition-property: block-size, content-visibility;
        transition-duration: 0.5s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
        block-size: calc-size(auto, size);
    }
}
