.pixel-art {
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.show-box {
        background-color: var(--color-steel-grey);
    }

    &.art-hamtaro {
        &.small {
            width: 1.9rem;
            height: 1.9rem;

            > div {
                transform: scale(0.1);
            }
        }
    }

    &.art-anime-komi {
        &.regular {
            width: 8.3rem;
            height: 12.5rem;

            > div {
                transform: scale(0.6);
            }
        }

        &.small {
            width: 8.6rem;
            height: 14.8rem;

            > div {
                transform: scale(0.9);
            }
        }
    }

    &.art-anime-umi {
        &.regular {
            width: 9.5rem;
            height: 16.5rem;

            > div {
                transform: scale(1);
            }
        }

        &.small {
            width: 8.6rem;
            height: 14.8rem;

            > div {
                transform: scale(0.9);
            }
        }
    }

    &.art-anime-rintaro {
        &.regular {
            width: 5.3rem;
            height: 8.5rem;

            > div {
                transform: scale(0.5);
            }
        }

        &.small {
            width: 8.5rem;
            height: 13.5rem;

            > div {
                transform: scale(0.8);
            }
        }
    }


    &.art-anime-kurisu {
        &.regular {
            width: 9rem;
            height: 13rem;

            > div {
                transform: scale(1.3);
            }
        }

        &.small {
            width: 17.6rem;
            height: 31.7rem;

            > div {
                transform: scale(0.7);
            }
        }
    }


    &.art-anime-kanao {
        &.regular {
            width: 9rem;
            height: 15rem;

            > div {
                transform: scale(1.3);
            }
        }

        &.small {
            width: 17.6rem;
            height: 31.7rem;

            > div {
                transform: scale(0.7);
            }
        }
    }

    &.art-anime-todoroki {
        &.regular {
            width: 5.4rem;
            height: 9rem;

            > div {
                transform: scale(0.38);
            }
        }
    }


    &.art-anime-hinata {
        &.regular {
            width: 6.5rem;
            height: 9rem;

            > div {
                transform: scale(1);
            }
        }
    }

    &.art-item-desk {
        &.regular {
            width: 16.3rem;
            height: 16.5rem;

            > div {
                transform: scale(0.60);
            }
        }

        &.small {
            width: 16.3rem;
            height: 16.5rem;

            > div {
                transform: scale(0.60);
            }
        }
    }


    &.art-item-whiteboard {
        &.regular {
            width: 18.9rem;
            height: 24rem;

            > div {
                transform: scale(0.9);
            }
        }

        &.small {
            width: 16.3rem;
            height: 16.5rem;

            > div {
                transform: scale(0.60);
            }
        }
    }
}
