@import url('./characters/anime-original/hamtaro.css');
@import url('./characters/anime-original/komi.css');
@import url('./characters/anime-original/kurisu.css');
@import url('./characters/anime-original/rintaro.css');
@import url('./characters/anime-original/todoroki.css');
@import url('./characters/anime-original/umi.css');

@import url('./items/desk.css');
@import url('./items/whiteboard.css');
@import url('./items/microwave-steins-gate.css');

.pixel-art {
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.show-box {
        background-color: var(--color-steel-grey);
    }

    &.art-anime-umi {
        &.regular {
            width: 8rem;
            height: 13.2rem;

            > div {
                transform: scale(0.8);
            }
        }
    }

    &.art-anime-rintaro {
        &.regular {
            width: 8.5rem;
            height: 13.2rem;

            > div {
                transform: scale(0.8);
            }
        }
    }

    &.art-item-desk {
        &.regular {
            width: 19.5rem;
            height: 17rem;

            > div {
                transform: scale(1.5);
            }
        }
    }

    &.art-item-microwave-steins-gate {
        &.regular {
            width: 7rem;
            height: 6rem;

            > div {
                transform: scale(0.5);
            }
        }
    }




















    &.art-hamtaro {
        &.small {
            width: 1.9rem;
            height: 1.9rem;

            > div {
                transform: scale(0.1);
            }
        }
    }

    &.art-anime-komi {
        &.regular {
            width: 8.3rem;
            height: 12.5rem;

            > div {
                transform: scale(0.6);
            }
        }

        &.small {
            width: 8.6rem;
            height: 14.8rem;

            > div {
                transform: scale(0.9);
            }
        }
    }




    &.art-anime-kurisu {
        &.regular {
            width: 9rem;
            height: 13rem;

            > div {
                transform: scale(1.3);
            }
        }

        &.small {
            width: 17.6rem;
            height: 31.7rem;

            > div {
                transform: scale(0.7);
            }
        }
    }


    &.art-anime-kanao {
        &.regular {
            width: 9rem;
            height: 15rem;

            > div {
                transform: scale(1.3);
            }
        }

        &.small {
            width: 17.6rem;
            height: 31.7rem;

            > div {
                transform: scale(0.7);
            }
        }
    }

    &.art-anime-todoroki {
        &.regular {
            width: 5.4rem;
            height: 9rem;

            > div {
                transform: scale(0.38);
            }
        }
    }


    &.art-anime-hinata {
        &.regular {
            width: 6.5rem;
            height: 9rem;

            > div {
                transform: scale(1);
            }
        }
    }



    &.art-item-whiteboard {
        &.regular {
            width: 18.9rem;
            height: 24rem;

            > div {
                transform: scale(0.9);
            }
        }

        &.small {
            width: 16.3rem;
            height: 16.5rem;

            > div {
                transform: scale(0.60);
            }
        }
    }
}
