@keyframes pressed-center {
    from {
        filter: opacity(1);
        transform: translateY(0);
    }

    to {
        filter: opacity(0);
        transform: translateY(var(--animation-translate-y-final-state));
    }
}
