@keyframes pressed-blue-left {
    from {
        filter: opacity(1);
        transform: translateY(0) scale(-1);
    }

    to {
        filter: opacity(0);
        transform: translateY(-2rem) scale(-1);
    }
}
