.scheme-theme {
    /* Dynamic color scheme */

    /* Light */
    color: #555555;
    /* Dark */
    color: #4b4b4b;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-simple-container);
    color: var(--text-color-light);

    > div {
        margin: auto;
    }
}
