.my-work-experience {
    border-left: solid var(--color-warm-silver) 2px;
    border-right: solid var(--color-warm-silver) 2px;
    padding: 0 var(--padding-simple-container);

    header {
        padding-bottom: var(--padding-organism);

        .title {
            padding-bottom: var(--padding-simple-molecule);
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-organism);
    }
}
