.personal-software-projects {
    > .personal-software-projects__div {
        padding-bottom: var(--padding-container);
    }

    > section {
        display: flex;
        justify-content: center;
    }
}
