.competency-name {
    > .competency-name__div {
        padding: var(--padding-simple-molecule) 0;

        &:first-child {
            justify-items: center;
        }

        &:last-child {
            text-align: center;
            color: #4886af;
        }
    }
}
