.slider-dialog {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    > .slider-dialog__div {
        &:first-child {
            display: none;
            position: absolute;
            left: 15%;
            bottom: 5%;
            z-index: 10;

            @media (width < 45rem) {
                display: block;
            }
        }

        &:last-child {
            position: relative;

            > .slider-dialog__div--texts {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                text-align: center;
                font-family: var(--font-family-pixel-art);
                font-weight: bold;

                > .paragraph {
                    display: block;
                    transition: filter var(--transition-slow-seconds) ease;
                    filter: opacity(1);

                    &:first-child {
                        padding-bottom: var(--paragraph-gap);
                    }

                    @media (width < 45rem) {
                        display: none;
                    }

                    @starting-style {
                        filter: opacity(0);
                    }
                }
            }
        }
    }
}

.slider-dialog {

    > .slider-dialog__div {

        &:first-child {

            &:has(input[type='radio'][id='paragraph-main']:checked) + .slider-dialog__div {

                .paragraph {

                    &:first-child {
                        display: block;
                    }
                }
            }

            &:has(input[type='radio'][id='paragraph-secondary']:checked) + .slider-dialog__div {

                .paragraph {

                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}
