.mini-game {
    > .title {
        color: var(--text-title-color-light);
        transition: filter var(--transition-slow-seconds) ease;

        @starting-style {
            filter: opacity(0);
        }
    }

    > .next-step-button {
        width: fit-content;
        color: #ffc509;
        padding-bottom: var(--padding-molecule);
    }
}
