.mini-game {

    > .mini-game__div--end-game {
        justify-items: start;

        > .mini-game__div--indicator {
            padding-bottom: var(--padding-simple-molecule);
        }
    }

    > .mini-game__div--start-game {
        font-family: var(--font-family-manga);
        justify-items: start;
        padding-bottom: var(--padding-molecule);
    }
}
