.vertical-poster {
    font-family: var(--font-family-manga);
    text-orientation: upright;
    writing-mode: vertical-lr;
    background-color: #ffffff;
    padding: var(--padding-molecule) 0;
    color: var(--text-color-dark);
}
