.manga-panel-project-description {
    height: 100%;

    > .title {
        padding-bottom: var(--padding-simple-organism);
    }

    &.reading-mode {
        > section {
            position: relative;
            height: 100%;

            > .next-step-button__div {
                position: absolute;
                top: 45%;
                left: 25%;
                z-index: 10;
            }

            > .pixel-art__div {
                position: absolute;
                top: 25%;
                right: 0;
            }

            > .character-speech__div {
                position: absolute;
                top: 0;
                left: 0;
            }

            > .pixel-art__div--item {
                position: absolute;
                top: 60%;
                left: 25%;
                z-index: 10;
            }

            > .button__div {
                position: absolute;
                z-index: 20;
            }
        }
    }
}
