.horizontal-poster {
    font-family: var(--font-family-manga);

    > .horizontal-poster__div {

        > .paragraph {
            text-align: center;
            transform: rotate(-5deg);
        }


        &:first-child {

            > .paragraph {
                line-height: 1;
            }
        }

        &:last-child {
            background-color: var(--color-vintage-rose);
            padding: var(--padding-molecule);
            clip-path: polygon(0 35%, 100% 0, 100% 65%, 0 100%);
        }
    }
}
