.horizontal-poster {
    overflow: hidden;
    clip-path: polygon(0 35%, 100% 0, 100% 65%, 0 100%);

    > .horizontal-poster__div {
        font-family: var(--font-family-manga);
        text-align: center;
        transform: rotate(-4.5deg);
    }

    &.background-color {
        padding: var(--padding-molecule);
        background-color: var(--color-vintage-rose);
    }
}
