.tool-information {
    display: flex;
    flex-direction: column-reverse;

    > .tool-information__div {
        padding: var(--padding-molecule);

        &:first-child {
            text-align: center;

            &:hover {
                cursor: pointer;

                + .tool-information__div {
                    .tool-information__div--logo {
                        transform: translateX(var(--padding-atom));
                        box-shadow:
                            calc(var(--box-shadow-offset) * -1) var(--box-shadow-offset) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
                    }
                }
            }
        }

        &:last-child {
            position: relative;

            > .tool-information__div--logo {
                position: absolute;
                top: 0;
                left: 0;
                padding: var(--padding-atom);
                background-color: var(--color-light-silver);
                transition: var(--transition-transform), var(--transition-box-shadow);

                &:hover {
                    transform: translateX(var(--padding-atom));
                    box-shadow:
                        calc(var(--box-shadow-offset) * -1) var(--box-shadow-offset) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
                }
            }
        }
    }
}
