.tool-information {
    display: block;
    color: var(--color-light);
    cursor: pointer;

    .icon-background {
        transform: translateY(0.5rem);
        transition: var(--transition-transform), var(--transition-box-shadow);
    }

    > div:last-child {
        padding: var(--padding-simple-molecule);
        border-radius: var(--border-radius-atom);
        text-align: center;
    }

    &.auto {
        width: 100%;
    }

    &:hover {
        .icon-background {
            transform: translateX(0.3rem) translateY(0.5rem);
            box-shadow: -0.2rem 0.2rem 0.2rem var(--color-charcoal-grey);
        }
    }
}
