@import url('./items-style.css');
@import url('./characters-style.css');


/* Pixel Art Items */

@import url('./items/anime-dango-blue.css');
@import url('./items/anime-dango-pink.css');
@import url('./items/anime-dango-yellow.css');

@import url('./items/anime-hitai-ate.css');
@import url('./items/anime-parchment.css');

@import url('./items/anime-steins-gate-computers.css');
@import url('./items/anime-steins-gate-microwave.css');

@import url('./items/arcade.css');

@import url('./items/book-university.css');
@import url('./items/book.css');
@import url('./items/books.css');

@import url('./items/cup-coffee-animation.css');

@import url('./items/desk-animation.css');
@import url('./items/desk-invert-animation.css');


@import url('./items/domo-animation.css');
@import url('./items/domo.css');

@import url('./items/hourglass.css');

@import url('./items/lamp.css');

@import url('./items/mortarboard.css');

@import url('./items/pencil-blue.css');
@import url('./items/pencil-pink.css');
@import url('./items/pencil-red.css');
@import url('./items/pencil-yellow.css');

@import url('./items/pump-game-logo.css');
@import url('./items/pump-step-blue-animation.css');
@import url('./items/pump-step-blue.css');
@import url('./items/pump-step-center-animation.css');
@import url('./items/pump-step-center.css');
@import url('./items/pump-step-red-animation.css');
@import url('./items/pump-step-red.css');

@import url('./items/soccer-ball.css');

@import url('./items/speech-bubble-bit-v2.css');
@import url('./items/speech-bubble-bit.css');

@import url('./items/sticky-note-group.css');
@import url('./items/sticky-note.css');

@import url('./items/whiteboard.css');


/* ****************************************************** */



/* Pixel Art Characters */


@import url('./characters/anime-original/adventure-time-bmo-animation.css');
@import url('./characters/anime-original/adventure-time-finn-the-human-animation.css');
@import url('./characters/anime-original/adventure-time-jake-the-dog-animation.css');
@import url('./characters/anime-original/adventure-time-marceline-animation.css');

@import url('./characters/anime-original/boku-no-hero-todoroki-animation.css');
@import url('./characters/anime-original/kimetsu-no-yaiba-kanao.css');
@import url('./characters/anime-original/komi-san-wa-komyushou-desu-komi.css');

@import url('./characters/anime-original/minidev-v1-animation.css');
@import url('./characters/anime-original/minidev-v2-animation.css');
@import url('./characters/anime-original/minidev-v3-animation.css');
@import url('./characters/anime-original/minidev-v4-animation.css');
@import url('./characters/anime-original/minidev-v5-animation.css');

@import url('./characters/anime-original/nakano-ichika-animation.css');
@import url('./characters/anime-original/nakano-ichika-card-animation.css');
@import url('./characters/anime-original/nakano-itsuki-animation.css');
@import url('./characters/anime-original/nakano-itsuki-card-animation.css');
@import url('./characters/anime-original/nakano-miku-animation.css');
@import url('./characters/anime-original/nakano-miku-card-animation.css');
@import url('./characters/anime-original/nakano-nino-animation.css');
@import url('./characters/anime-original/nakano-nino-card-animation.css');
@import url('./characters/anime-original/nakano-yotsuba-animation.css');
@import url('./characters/anime-original/nakano-yotsuba-card-animation.css');

@import url('./characters/anime-original/naruto-hinata.css');

@import url('./characters/anime-original/steins-gate-kurisu-animation.css');
@import url('./characters/anime-original/steins-gate-rintaro-animation.css');

@import url('./characters/anime-original/umi-animation.css');

/* ************************************* */

.pixel-art {

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.show-box {
        background-color: white;
    }
}
