.paragraph {
    text-wrap: pretty;
    line-height: 1.5em;
    white-space: pre-line;

    &.regular {
        font-size: 1rem;
    }

    &.middle {
        font-size: 1.2rem;
    }

    &.medium {
        font-size: 3rem;
    }

    &.animation_cursor::after {
        content: '_';
        animation: blink-character 2s infinite;
    }

    &.nowrap {
        white-space: nowrap;
    }
}

@keyframes blink-character {

    0%,
    50%,
    100% {
        filter: opacity(100%)
    }

    25%,
    75% {
        filter: opacity(0%)
    }
}
