.paragraph {
    text-wrap: pretty;
    line-height: 1.5;
    letter-spacing: 1px;
    white-space: pre-line;

    &.regular {
        font-size: 1rem;
    }

    &.medium {
        font-size: 3rem;
    }

    &.animation_cursor::after {
        content: '_';
        animation: var(--animation-blink-character);
    }
}
