.competency-description {
    justify-items: center;

    > .competency-description__div {
        &:first-child {
            > div {
                transform: translateY(1rem);
            }
        }

        &:last-child {
            height: 14rem;
            padding: var(--padding-molecule);
            background-color: var(--color-blush-petal);
            border-radius: var(--border-radius-molecule);
        }
    }
}
