.light {
    color: var(--color-light);
}

.dark {
    color: var(--color-dark);
}

.light-silver {
    color: var(--color-light-silver);
}

.sky-blue {
    color: var(--color-sky-blue);
}

.charcoal-grey {
    color: var(--color-charcoal-grey);
}

.royal-blue {
    color: var(--color-royal-blue);
}

.deep-ocean {
    color: var(--color-deep-ocean);
}

.warm-silver {
    color: var(--color-warm-silver);
}

.coffee-brown {
    color: var(--color-coffee-brown);
}

.olive-green {
    color: var(--color-olive-green);
}

.smoky-purple {
    color: var(--color-smoky-purple);
}

.heather-mist {
    color: var(--color-heather-mist);
}
