.pixel-art-dialog-8-bit {
    display: flex;
    height: 38rem;

    > .pixel-art-dialog-8-bit__div {

        &:first-child {
            align-self: flex-end;
        }

        &:last-child {
            position: relative;
            height: fit-content;

            > .pixel-art-dialog-8-bit__div--paragraph {
                position: absolute;
                top: 14%;
                left: 16%;
                max-width: 75%;

                > .paragraph {
                    font-family: 'Courier New';
                    font-weight: bold;

                    &:first-child {
                        padding-bottom: var(--padding-molecule);
                    }

                    color: var(--color-dark);
                }
            }
        }
    }
}
