.professional-profile {
    > .title {
        padding-bottom: var(--padding-container);
    }

    > section {
        max-width: 70rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-simple-container);

        > .competency-description {
            max-width: 30rem;
            margin: 0 auto;
        }
    }
}
