.text-box-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > .text-box-overlay__div {
        transform: rotate(-45deg);

        @media (width < 70rem) {
            text-align: center;
        }
    }

    &.regular {
        width: 12.5rem;
        height: 12.5rem;
    }

    &.adaptive {
        width: 100%;
        height: 100%;
    }

    &:hover {
        &::before {
            inset: -10%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border: solid var(--border-regular-width) var(--color-light-silver);
        transition: inset var(--transition-fast-seconds) linear;
    }
}
