.knowledge-implementation {
    > .knowledge-implementation__div--title {
        padding-bottom: var(--padding-simple-organism);
    }

    &.grid {

        > .knowledge-implementation__div--items {
            display: grid;
            gap: var(--gap-molecule);

            &[data-columns='1'] {
                grid-template-columns: 1fr;
            }

            &[data-columns='2'] {
                grid-template-columns: repeat(2, 1fr);
            }

            &[data-columns='3'] {
                grid-template-columns: repeat(3, 1fr);

                @media (width < 50rem) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    &.flex {

        > .knowledge-implementation__div--items {
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap-molecule);
        }
    }

    &.block {
        > .knowledge-implementation__div--items {
            display: flex;
            flex-direction: column;
            gap: var(--gap-molecule);
        }
    }
}
