.slider-option {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--border-radius-atom);
    overflow: hidden;
    border: solid var(--color-light);

    > label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        user-select: none;
    }

    &.checked {
        background-color: var(--color-light);
    }

    > input {
        display: none;
    }
}
