.step-player {

    &.type-item-blue-step {
        transform: scaleY(-1);

        &.orientation-left {
            transform: scale(-1);
        }
    }

    &.type-item-red-step {

        &.orientation-left {
            transform: scaleX(-1);
        }
    }
}
