.manga-panel-project-planning {
    height: 100%;

    > .title {
        padding-bottom: var(--padding-simple-organism);
    }

    > section {
        position: relative;
        height: 100%;

        > .character-speech__div {
            position: absolute;
            top: 10%;
            right: 0;
        }
    }
}
