.skills-implemented-work {
    > .skills-implemented-work__div {

        &:first-child {
            padding-bottom: var(--padding-simple-organism);
        }

        &:last-child {
            display: grid;
            gap: var(--gap-molecule);

            &[data-columns='2'] {
                grid-template-columns: repeat(2, 1fr);
            }

            &[data-columns='0'] {
                display: flex;
                flex-wrap: wrap;
            }

            &[data-columns='auto'] {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                justify-items: center;
            }
        }
    }
}
