.self-description {
    > .title {
        padding-bottom: var(--padding-molecule);
        color: var(--text-subtitle-color);
    }

    > .paragraph {
        color: var(--text-color-light);
    }
}
