.radio-selection-option-box {
    display: flex;
    align-items: end;
    border: solid var(--border-regular-width) var(--color-light-silver);
    border-radius: var(--border-radius-simple-molecule);
    padding: var(--padding-molecule);
    color: var(--color-light);
    letter-spacing: 0.05rem;
    cursor: pointer;

    > .radio-selection-option-box__div {
        padding-right: var(--padding-simple-molecule);
    }

    > input {
        display: none;
    }
}
