.radio-selection-option-box {
    display: flex;
    align-items: end;
    border-radius: var(--border-radius-simple-molecule);
    padding: var(--padding-molecule);
    background-color: var(--color-muted-purple);
    color: var(--color-light);
    letter-spacing: 0.05rem;

    > .radio-selection-option-box__div {
        padding-right: var(--padding-simple-molecule);
    }

    > input {
        display: none;
    }
}
