.photo-enigma {
    --drop-shadow-effect: drop-shadow(0 0 0.25rem #000000);

    -webkit-user-select: none;
    user-select: none;

    filter: brightness(0.9) var(--drop-shadow-effect);

    &.hidden {
        filter: brightness(0) var(--drop-shadow-effect);
    }

    .picture {
        transition: var(--transition-filter-show-image);

        @starting-style {
            filter: opacity(0);
        }
    }
}
