.interpersonal-competency-information {
    width: fit-content;
    position: relative;
    padding: var(--padding-simple-molecule);
    border-radius: var(--border-radius-molecule);
    background-color: var(--color-heather-mist);
    cursor: pointer;

    > .paragraph {
        padding: 0 var(--padding-simple-molecule);
    }

    &:hover {

        &::after {
            inset: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: var(--padding-simple-molecule);
        border: solid var(--border-regular-width) var(--color-misty-gray);
        transition: inset var(--transition-seconds) linear;
    }
}
