.interpersonal-competency-information {
    position: relative;
    background-color: #4682b4;
    padding: var(--padding-molecule);
    text-align: center;
    color: var(--text-color-light);

    &:hover {

        &::after {
            inset: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: var(--padding-simple-molecule);
        border: dashed var(--border-width-regular) var(--border-light);
        transition: inset var(--transition-fast-seconds) linear;
    }
}
