main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--gap-container);
    background-color: var(--color-light-silver);

    > article {
        max-width: 70rem;
        margin: auto;

        > .h2 {
            padding-bottom: var(--padding-container);
        }
    }
}
