.rotated-text-poster {
    > .div-main {
        height: 12rem;
        padding-right: 2rem;
        padding-left: 2rem;

        > .div-secondary {
            overflow: hidden;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            > .div-content {
                width: 105%;
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%) rotate(-5deg);

                > .paragraph {
                    font-family: 'Yoruka';

                    &:last-child {
                        background-color: var(--color-vintage-rose);
                    }
                }
            }
        }
    }
}
