.rotated-text-poster {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    position: relative;

    > .rotated-text-poster__div {
        width: 5%;
        height: 100%;
        z-index: 10;
        background-color: var(--color-smoky-purple);

    }

    > div {
        &:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 95%;
            transform: translate(-50%, -50%) rotate(-5deg);

            > .paragraph {
                text-align: center;
            }


            > .paragraph {
                padding-right: 2rem;
                padding-left: 2rem;

                &:last-child {
                    background-color: var(--color-vintage-rose);
                }
            }
        }
    }
}
