.konoha-kit {
    width: fit-content;
    height: 11rem;
    position: relative;
    display: flex;

    > .konoha-kit__div {

        &:first-child {
            position: absolute;
            top: 1rem;
            right: 0.1rem;
            transform: rotate(10deg);
            z-index: 10;
        }

        &:last-child {
            margin-top: auto;
        }
    }
}
