.tools-applied-project.columns-1 > div {
    display: grid;
    gap: var(--gap-molecule);
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, max-content);
}


.tools-applied-project.columns-2 > div {
    display: grid;
    gap: var(--gap-molecule);
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, max-content);
}

.tools-applied-project.columns-0 {
    width: 100%;
}

.tools-applied-project.columns-0 > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    gap: 10px;
    grid-auto-flow: dense;
}
