.professional-contact {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-molecule);

    > .professional-contact__div {
        &:first-child {
            display: flex;
            gap: var(--gap-molecule);
            align-self: flex-end;
        }

        &:last-child {

            align-self: flex-end;
        }
    }

    &.reverse {
        flex-direction: row-reverse;
    }
}
