.next-step-button {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: var(--gap-simple-molecule);

    > .next-step-button__div {
        align-self: center;

        &:last-child {
            animation: press-button 0.5s infinite alternate linear;
        }
    }
}

@keyframes press-button {
    from {
        transform: translateY(calc(var(--gap-simple-molecule) * -1));
        filter: opacity(0.6);
        opacity: 0.6;
    }

    to {
        transform: translateY(0);
        filter: opacity(1);
    }
}
