.icon {
    img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }

    &.regular {
        width: 2.5rem;
        height: 2.5rem;
    }

    &.medium {
        width: 3rem;
        height: 3rem;
    }

    &.small {
        width: 1.9rem;
        height: 1.9rem;
    }

    &.adaptive {
        width: 100%;
        height: 100%;
    }

    &.auto {
        width: auto;
        height: auto;
    }
}
