.icon {
    img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }

    &.regular {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.medium {
        width: 2.3rem;
        height: 2.3rem;
    }

    &.auto {
        width: 100%;
        height: 100%;
    }

    &.icon.background-color {
        padding: var(--padding-atom);
        border-radius: var(--border-radius-atom);
        border: solid 1px var(--color-warm-silver);
        background-color: var(--color-cool-sky);
    }
}
