.icon {
    img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }

    &.regular {
        width: 2.5rem;
        height: 2.5rem;
    }

    &.medium {
        width: 2.25rem;
        height: 2.25rem;
    }

    &.small {
        width: 2rem;
        height: 2rem;
    }

    &.adaptive {
        width: 100%;
        height: 100%;
    }

    &.default {
        width: auto;
        height: auto;
    }
}
