.goals-through {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-organism);

    > .my-goals-through {

        &:first-child {

            .goals-dialog {

                > .goals-dialog__div {

                    &:first-child {

                        &:has(input[type='radio'][for='01-my-social-goals-through-main']:checked) + .goals-dialog__div {

                            .paragraph {

                                &:first-child {
                                    display: block;
                                }
                            }
                        }

                        &:has(input[type='radio'][for='02-my-social-goals-through-secondary']:checked) + .goals-dialog__div {

                            .paragraph {

                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

        }

        &:last-child {

            .goals-dialog {

                > .goals-dialog__div {

                    &:first-child {

                        &:has(input[type='radio'][for='01-my-personal-goals-through-main']:checked) + .goals-dialog__div {

                            .paragraph {

                                &:first-child {
                                    display: block;
                                }
                            }
                        }

                        &:has(input[type='radio'][for='02-my-personal-goals-through-secondary']:checked) + .goals-dialog__div {

                            .paragraph {

                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}
