.acquired-competencies {
    --max-num-columns: 3;
    --min-width: 18rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
    gap: var(--gap-organism);
    grid-auto-rows: 1fr;

    max-width: calc(var(--max-num-columns) * (var(--min-width) + var(--gap-organism)));
    margin: 0 auto;

    > .acquired-competencies__div {
        display: flex;

        > .competency-professional {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
