.temp-line-work-experience {

    > .temp-line-work-experience__div {

        &:last-child {

            > .employment-summary {
                display: none;
                transition: filter var(--transition-extended-seconds) ease;

                @starting-style {
                    filter: opacity(0);
                }
            }
        }
    }
}

.temp-line-work-experience {

    > .temp-line-work-experience__div {

        &:first-child {

            &:has(input[type='radio'][for='01-C']:checked) + .temp-line-work-experience__div {

                > .employment-summary:nth-child(1) {
                    display: block;
                }
            }

            &:has(input[type='radio'][for='02-B']:checked) + .temp-line-work-experience__div {

                > .employment-summary:nth-child(2) {
                    display: block;
                }
            }

            &:has(input[type='radio'][for='03-D']:checked) + .temp-line-work-experience__div {

                > .employment-summary:nth-child(3) {
                    display: block;
                }
            }
        }
    }
}
