/*
'order: -1' ensures that the title appears as the first child of the section to
meet the CEO's design requirements.
*/


.header-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    > .header-content__section {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        align-self: flex-end;

        > .header-content__section--div {
            order: -1;
        }
    }
}
