/*
order: -1 ensures that the title appears as the first child of the section to
meet the CEO's design requirements.
*/

.header-profile-data {
    display: flex;
    flex-direction: column;
    gap: var(--padding-simple-organism);
    padding: var(--padding-viewport);
    position: relative;

    > .header-profile-data__div {

        > .professional-information {
            padding-bottom: var(--padding-simple-organism);
        }

        @media (width < 90rem) {
            padding: var(--padding-simple-organism);
            border-radius: var(--border-radius-simple-organism);
            background-color: #885488;
        }
    }

    > .header-profile-data__div {
        z-index: 10;
    }

    > .header-profile-data__div {
        &:last-child {
            order: -1;

            > .header-profile-data__pixel-art {
                display: flex;
                align-items: end;
                perspective: 5rem;

                > .pixel-art {
                    &:first-child {
                        transform: translateZ(-0.25rem);
                    }
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--filter-overlay-content);
        filter: var(--filter-overlay-opacity);

        @media (width < 90rem) {
            display: none;
        }
    }
}
