/*
order: -1 ensures that the title appears as the first child of the section to
meet the CEO's design requirements.
*/

.header-profile-data {
    display: flex;
    flex-direction: column;
    gap: var(--padding-simple-organism);
    padding: var(--padding-viewport);
    position: relative;

    .header-profile-data__div {
        z-index: 10;

        .professional-information {
            padding-bottom: var(--padding-simple-organism);
        }

        &:last-child {
            order: -1;

            .header-profile-data__pixel-art {
                display: flex;
                align-items: end;
                perspective: 5rem;

                .pixel-art:first-child {
                    transform: translateZ(-0.25rem);
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--filter-overlay-content);
        filter: var(--filter-overlay-opacity);
    }

    @media (width < 80rem) {

        .header-profile-data__div {

            &:first-child {
                background-color: #885488;
                padding: var(--padding-simple-organism);
                border-radius: var(--border-radius-simple-organism);
            }

            &:last-child {
                margin: auto;
            }
        }
    }
}
