.professional-approach {

    > .professional-approach__div {
        &:first-child {
            padding-bottom: var(--padding-organism);
        }

        &:last-child {
            max-width: 50rem;
            margin: 0 auto;
        }
    }
}
