.action-panel {
    justify-items: center;

    > .action-panel__controller {
        padding-bottom: var(--padding-molecule);
    }
}

.action-panel {

    &.activity-bar {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 40;

        > .action-panel__controller {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: var(--padding-molecule);
            gap: var(--gap-simple-organism);
            background-color: color-mix(in srgb, var(--bg-body) 90%, transparent);

        }

        > .action-panel__nav {
            display: none;
        }
    }

    :has(input[type='checkbox']:checked) {

        + .action-panel__nav {
            display: block;
        }
    }
}
