.action-panel {
    display: flex;
    gap: var(--gap-simple-organism);

    > .button-dango {
        display: none;
        background-color: #ffc685;
    }

    &.activity-bar {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;

        padding: var(--padding-molecule);
        border-radius: var(--border-radius-simple-molecule);
        background-color: color-mix(in srgb, var(--bg-dark) 60%, transparent 40%);

        > .toggle-theme {
            flex-direction: column;
        }

        > .button-dango {
            display: block;
        }
    }

    @media (width < 80rem) {
        &.activity-bar {
            position: static;
        }

        > .button-dango {
            display: block;
        }
    }
}
