.my-goals-through {
    width: min(100%, 36rem);
    border-radius: var(--border-radius-simple-organism);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-simple-organism);

    > .title {
        text-align: center;
        padding-top: var(--padding-simple-organism);
        color: var(--text-color-dark);
    }

    &.primary-scene {
        background-color: #95aab8;
    }

    &.secondary-scene {
        background-color: #d6bda2;
    }
}
