.my-work-experience {
    > header {
        padding-bottom: var(--padding-organism);

        .title {
            padding-bottom: var(--padding-simple-molecule);
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-organism);

        > .technical-skills {
            justify-content: space-between;
        }
    }

    @media (width < 60rem) {
        padding: 0 calc(var(--padding-simple-container) / 2);
    }

    @media (width < 40rem) {
        padding: 0 var(--padding-organism);
    }

    @media (width < 30rem) {
        padding: 0;
    }
}
