.knowledge-information {
    position: relative;
    padding: var(--padding-molecule);

    > .knowledge-information__div {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
