@import url('./animations/selected.css');
@import url('./animations/pressed-blue.css');
@import url('./animations/pressed-blue-left.css');
@import url('./animations/pressed-red.css');
@import url('./animations/pressed-red-left.css');
@import url('./animations/pressed-center.css');

.step-game {
    --animation-translate-y-final-state: -2rem;
    --animation-seconds: 0.5s;

    padding: var(--padding-simple-molecule);
    -webkit-user-select: none;
    user-select: none;

    &.type-item-pump-step-center {
        background: linear-gradient(to bottom, #382e31, #515055);

        &.pressed {
            animation: pressed-center var(--animation-seconds) ease forwards;
        }
    }

    &.type-item-pump-step-blue {
        transform: scaleY(-1);
        background: linear-gradient(to bottom, #1788ce, #2f2e32);

        &.pressed {
            animation: pressed-blue var(--animation-seconds) ease forwards;
        }

        &.orientation-left {
            transform: scale(-1);

            &.pressed {
                animation: pressed-blue-left var(--animation-seconds) ease forwards;
            }
        }
    }

    &.type-item-pump-step-red {
        background: linear-gradient(to bottom, #e32223, #2f2e32);

        &.pressed {
            animation: pressed-red var(--animation-seconds) ease forwards;
        }

        &.orientation-left {
            transform: scaleX(-1);

            &.pressed {
                animation: pressed-red-left var(--animation-seconds) ease forwards;
            }
        }
    }

    &.selected {
        animation: selected 1s ease infinite;
    }
}
