.scheme-theme {
    color: #500047;
    color: #ff9bd1;
    color: #ffc509;
    color: #523f50;
    color: #584b56;


    /* Dynamic color scheme */

    /* Light */
    color: #70546d;
    /* Dark */
    color: #523f50;
}

.about-me {
    --text-subtitle-color: var(--text-title-color-light);
    --bg-secondary: #584b56;


    > .decorated-title {
        padding-bottom: var(--padding-container);
        color: var(--text-title-color-light);
    }

    > .about-me__div {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-container);
    }
}
