.about-me {
    --text-subtitle-color: var(--text-title-color-light);
    --bg-secondary: #584b56;


    > .decorated-title {
        color: var(--text-title-color-light);
        padding-bottom: var(--padding-container);
    }

    > article {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-container);
    }
}
