.copy-email-clipboard {
    position: relative;
    width: fit-content;
    border: solid var(--color-light-silver);
    border-width: 0 var(--border-regular-width);
    padding: 0 var(--padding-simple-molecule);
    user-select: none;
    cursor: pointer;

    &.copied-clipboard {
        &::after {
            content: 'copied';
            color: var(--color-light-silver);
            background-color: var(--color-smoky-purple);
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%);
            padding: var(--padding-simple-molecule);
            border-radius: var(--border-radius-atom);
            animation: var(--animation-fade-out);
        }
    }

    &:hover {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: solid var(--color-light-silver);
            border-width: var(--border-regular-width) 0;
            animation: border-box var(--animation-duration) forwards;
        }
    }
}

@keyframes border-box {
    from {
        width: 1rem;
        height: 1rem;
    }

    to {
        width: 100%;
        height: 100%;
    }
}
