.relevant-skills-experience {

    > .relevant-skills-experience__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-simple-organism);
        padding-bottom: var(--padding-simple-organism);
    }
}
