.work-experience-history {
    --background-color: var(--color-coral-blush);

    > .decorated-title {
        padding-bottom: var(--padding-container);
    }

    .work-experience-history__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-organism);

        > .content-visibility-controller {
            width: 22rem;

            > .details-summary {
                position: sticky;
                top: 0;
            }
        }

        > .work-experience-history__experience-summary {
            width: min(100%, 50rem);
        }

        .employment-summary {
            display: none;
            transition: filter var(--transition-duration-show-content) ease;

            @starting-style {
                filter: opacity(0);
            }
        }

        @media (width < 78rem) {
            width: min(100%, 50rem);
            margin: auto;

            > .content-visibility-controller {
                margin-right: auto;
            }
        }
    }
}

.work-experience-history {

    > .work-experience-history__content {

        > .content-visibility-controller {

            &:has(input[type='radio'][for='01-work-experience-history']:checked) + .work-experience-history__experience-summary {

                > .employment-summary:nth-child(1) {
                    display: block;
                }
            }

            &:has(input[type='radio'][for='02-work-experience-history']:checked) + .work-experience-history__experience-summary {

                > .employment-summary:nth-child(2) {
                    display: block;
                }
            }


            &:has(input[type='radio'][for='03-work-experience-history']:checked) + .work-experience-history__experience-summary {

                > .employment-summary:nth-child(3) {
                    display: block;
                }
            }
        }
    }
}
