.work-experience-history {
    > .title {
        padding-bottom: var(--padding-container);
    }

    > section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-container);
        max-width: 46rem;
        margin: auto;
        border-left: dotted var(--color-warm-silver) 0.1rem;
        border-right: dotted var(--color-warm-silver) 0.1rem;
        padding: 0 var(--padding-organism);

        @media (width < 30rem) {
            padding: 0 var(--padding-molecule);
        }
    }
}
