.job-experience-details {
    > div {
        &:first-child {
            display: flex;
            flex-direction: column;
            gap: var(--gap-simple-molecule);
            padding-bottom: var(--padding-simple-organism);
        }
    }
}
