.hyperlink-icon {
    display: block;
    padding: var(--padding-atom);
    width: fit-content;
    border: solid var(--border-regular-width) var(--color-light-silver);
    border-radius: var(--border-radius-atom);
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow-inset);
    }
}
