.hyperlink-icon {
    display: block;
    padding: var(--padding-atom);
    border: solid 1px var(--color-light-silver);
    border-radius: var(--border-radius-atom);
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow-inset);
    }
}
