@import url('./shared/components/atoms/colors/style.css');

main {
    > scroll-page {
        display: block;
        padding: var(--padding-container) var(--padding-molecule);

        > div {
            max-width: 70rem;
            margin: auto;
        }
    }

    > scroll-page:nth-child(1) {
        background-color: var(--color-light-silver);
    }

    > scroll-page:nth-child(2) {
        background-color: var(--color-rose-water);
    }

    > scroll-page:nth-child(3) {
        background-color: var(--color-rose-water);
    }

    > scroll-page:nth-child(4) {
        background-color: var(--color-smoky-purple);
    }
}
