scroll-container {
    scroll-page {
        display: block;

        &#work-experience-history > *,
        &#personal-software-projects > *,
        &#professional-profile > *,
        &#about-me > *,
        &#main-footer > * {
            max-width: 90rem;
            margin: auto;
            padding: var(--padding-container) var(--padding-viewport);
        }

        &#main-header {
            background-color: var(--bg-page-main-header);
        }

        &#work-experience-history {
            background-color: var(--bg-page-work-experience-history);
        }

        &#personal-software-projects {
            background-color: var(--color-rose-water);
        }

        &#professional-profile {
            background-color: var(--bg-page-professional-profile);
        }

        &#about-me {
            background-color: var(--bg-page-about-me);
        }

        &#main-footer {
            background-color: var(--bg-page-main-footer);
        }
    }
}
