@import url('./shared/components/atoms/colors/style.css');


scroll-container {
    scroll-page {
        display: block;
        padding: var(--padding-container) var(--padding-viewport);

        > * {
            max-width: 90rem;
            margin: auto;
        }

        &#work-experience-history {
            background-color: var(--color-light-silver);
        }

        &#personal-software-projects {
            background-color: var(--color-rose-water);
        }

        &#professional-profile {
            background-color: var(--color-rose-water);
        }

        &#about-me {
            background-color: var(--color-smoky-purple);
        }

        &#primary-footer {
            background-color: var(--color-coffee-brown);
        }
    }
}
