@font-face {
    font-family: 'Figtree';
    src: url('@assets-fonts/figtree/Figtree-Regular.ttf');
}

@font-face {
    font-family: 'Yoruka';
    src: url('@assets-fonts/yoruka-font/Yoruka-1j9rL.ttf');
}

:root {
    color-scheme: light dark;

    --color-dark: #2e2e2e;
    --color-light: #eeeeee;

    --color-muted-purple: #584b58;
    --color-slate-gray: #554d74;
    --color-coffee-brown: #453c41;
    --color-charcoal-grey: #48494a;
    --color-smoky-purple: #7b586b;
    --color-light-silver: #d4dbe2;
    --color-warm-silver: #b0bbbf;
    --color-olive-green: #9dac38;
    --color-deep-ocean: #586c91;
    --color-royal-blue: #2f70af;
    --color-sky-blue: #4886af;
    --color-heather-mist: #a0849d;
    --color-cream-light: #ecd7bb;
    --color-rose-water: #fbeefb;
    --color-blush-petal: #ffc1cc;
    --color-vintage-rose: #6e315a;


    --color-misty-gray: #d4dbe266;
    --color-misty-gray: #b1b0ae;


    --color-charcoal-shadow: #3b3b3b;
    --color-soft-moss: #d4d4d4;
    --color-violet-dusk: #9856be;
    --color-muted-lavender: #9696ff;
    --color-coral-blush: #ff6432;
    --color-bright-yellow: #ffff00;
    --color-deep-blue: #3d3dd1;
    --color-light-pink: #ffb6c1;
    --color-dark-maroon: #382e31;
    --color-slate-black: #515055;
    --color-vivid-blue: #1788ce;
    --color-night-shadow: #2f2e32;
    --color-crimson-red: #e32223;


    --color-science-lab-background: #95aab8;
    --color-science-lab-floor: #b0bec5;
    --color-science-lab-shadow-light: #90a4ae;
    --color-science-lab-shadow-medium: #78909c;
    --color-science-lab-shadow-dark: #607d8b;

    --color-wooden-room-background: #d6bda2;
    --color-wooden-room-floor: #d7a67a;
    --color-wooden-room-shadow-light: #c38c5c;
    --color-wooden-room-shadow-medium: #b77b52;
    --color-wooden-room-shadow-dark: #a06a47;



    --padding-viewport: 1rem;

    --padding-atom: 0.25rem;

    --padding-simple-molecule: 0.5rem;
    --padding-molecule: 1rem;

    --padding-simple-organism: 2rem;
    --padding-organism: 4rem;

    --padding-simple-container: 6rem;
    --padding-container: 8rem;



    --gap-simple-molecule: 0.5rem;
    --gap-molecule: 1rem;

    --gap-simple-organism: 2rem;
    --gap-organism: 4rem;

    --gap-simple-container: 6rem;
    --gap-container: 8rem;



    --border-radius-atom: 0.25rem;

    --border-radius-simple-molecule: 0.5rem;
    --border-radius-molecule: 0.75rem;

    --border-radius-simple-organism: 0.85rem;



    --border-regular-width: 0.05rem;
    --border-large-width: 0.2rem;



    --transition-fast-seconds: 0.3s;
    --transition-slow-seconds: 1.5s;
    --transition-duration-show-content: 2s;



    --font-family-pixel-art: 'Courier New', Consolas;
    --font-family-impact: Impact;
    --font-family-manga: Yoruka;


    --paragraph-gap: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Figtree, 'Segoe UI Emoji', helvetica;
    background-color: gray;
}

html,
body {
    max-width: 100svw;
    min-height: 100svh;
}

li {
    list-style: none;
}
