@font-face {
    font-family: 'Figtree';
    src: url('@assets-fonts/figtree/Figtree-Regular.ttf');
}

@font-face {
    font-family: 'Yoruka';
    src: url('@assets-fonts/yoruka-font/Yoruka-1j9rL.ttf');
}

:root {
    color-scheme: light dark;

    --color-dark: #2e2e2e;
    --color-light: #eeeeee;

    --color-slate-gray: #554d74;
    --color-coffee-brown: #453c41;
    --color-charcoal-grey: #48494a;
    --color-steel-grey: #7b7c81;
    --color-smoky-purple: #7b586b;
    --color-light-silver: #d4dbe2;
    --color-warm-silver: #b0bbbf;
    --color-olive-green: #9dac38;
    --color-teal-green: #358282;
    --color-deep-ocean: #586c91;
    --color-royal-blue: #2f70af;
    --color-sky-blue: #4886af;
    --color-bright-orange: #d33f0f;
    --color-coral-orange: #f5704a;
    --color-cool-sky: #d1e2f3;
    --color-window-glass: #ffffff59;
    --color-misty-gray: #d4dbe266;
    --color-heather-mist: #a0849d;
    --color-cream-light: #ecd7bb;
    --color-dune-sand: #f5f5dc;
    --color-rose-water: #fbeefb;
    --color-blush-petal: #ffc1cc;
    --color-vintage-rose: #6e315a;
    --color-misty-gray: #b1b0ae;
    --color-charcoal-shadow: #3b3b3b;
    --color-soft-moss: #ebebeb;
    --color-violet-dusk: #9856be;
    --color-white: #ffffff;


    --padding-viewport: 0.5rem;
    --padding-uniform: 1.5rem;
    --padding-simple-atom: 0.2rem;
    --padding-atom: 0.5rem;
    --padding-simple-molecule: 0.5rem;
    --padding-molecule: 0.75rem;
    --padding-simple-organism: 1.5rem;
    --padding-organism: 4rem;
    --padding-simple-container: 6rem;
    --padding-container: 8rem;

    --gap-uniform: 1.5rem;
    --gap-simple-molecule: 0.5rem;
    --gap-molecule: 0.75rem;
    --gap-simple-organism: 1.5rem;
    --gap-organism: 2rem;
    --gap-simple-container: 4rem;
    --gap-container: 8rem;

    --border-radius-uniform: 1rem;
    --border-radius-atom: 0.25rem;
    --border-radius-simple-molecule: 0.25rem;
    --border-radius-molecule: 0.4rem;
    --border-radius-organism: 2rem;
    --border-radius-container: 2.5rem;

    --border-regular-width: 1px;

    --transition-seconds: 0.3s;
    --transition-transform: transform 0.3s linear;
    --transition-box-shadow: box-shadow 0.3s linear;

    --hover-brightness: brightness(1.5);

    --box-shadow-inset: inset 0 0 0.25rem var(--color-cool-sky);

    --box-shadow-offset: 0.25em;
    --box-shadow-blur: 0.25em;
    --box-shadow-spread: 0.25em;
    --box-shadow-color: var(--color-charcoal-grey);

    --animation-duration: 0.3s;
    --animation-fade-out: fade-out 3.5s 1;
    --animation-blink-character: blink-character 2s infinite;
    --animation-shake: shake 0.3s infinite;
}

* {
    padding: 0;
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Figtree, helvetica;
    background-color: gray;
}

html,
body {
    max-width: 100svw;
    min-height: 100svh;
}
