@font-face {
    font-family: 'Figtree';
    src: url('@assets-fonts/figtree/Figtree-Regular.ttf');
}

@font-face {
    font-family: 'Yoruka';
    src: url('@assets-fonts/yoruka-font/Yoruka-1j9rL.ttf');
}

:root {
    color-scheme: light dark;

    --padding-viewport: 1rem;

    --padding-atom: 0.25rem;

    --padding-simple-molecule: 0.5rem;
    --padding-molecule: 1rem;

    --padding-simple-organism: 2rem;
    --padding-organism: 4rem;

    /* --padding-simple-container: 6rem; */
    --padding-container: 8rem;


    --gap-simple-molecule: 0.5rem;
    --gap-molecule: 1rem;

    --gap-simple-organism: 2rem;
    --gap-organism: 4rem;

    --gap-simple-container: 6rem;
    /* --gap-container: 8rem; */



    --border-radius-atom: 0.25rem;

    --border-radius-simple-molecule: 0.5rem;
    --border-radius-molecule: 0.75rem;

    --border-radius-simple-organism: 0.85rem;


    --border-width-regular: 0.05rem;
    --border-width-large: 0.2rem;


    --filter-saturate-default: saturate(1.25);
    --filter-brightness-base: brightness(1.25);
    --filter-brightness-hover: brightness(0.95);
    --filter-contrast-selected: contrast(1.25);

    --transition-filter: filter 0.25s linear;

    --transition-filter-show-image: filter 1.5s ease;


    --border-light: #e0e0e0;
    --border-dark: #4e4e4e;


    --text-title-color-light: #e0e0e0;
    --text-color-light: #e0e0e0;

    --text-title-color-dark: #4e4e4e;
    --text-color-dark: #2e2e2e;

    --text-color-light-anchor: #dcdcfa;


    --bg-light: #e0e0e0;
    --bg-dark: #2f3b47;


    --bg-btn-download: #ff66b2;


    --transition-fast-seconds: 0.3s;
    --transition-slow-seconds: 1.5s;
    --transition-duration-show-content: 2s;


    --font-family-pixel-art: 'Courier New', Consolas;
    --font-family-manga: Yoruka;



    /* Dynamic color scheme */

    --border-highlight: #d4dbe2;

    --bg-body: #e0e0e0;
    --bg-box-info: #646464;

    --text-title-color: #4e4e4e;
    --text-color: #2e2e2e;

    --bg-page-main-header: #554d74;
    --bg-page-work-experience-history: #d4dbe2;
    --bg-page-about-me: #70546d;
    --bg-page-professional-profile: #efeff1;
    --bg-page-main-footer: #555555;


    :has(input[type='radio'][for='dark-theme']:checked) {
        --bg-body: #2f3b47;

        --text-title-color: #e5e5e5;
        --text-color: #e0e0e0;

        --bg-page-main-header: #37424e;
        --bg-page-work-experience-history: #37424e;
        --bg-page-about-me: #523f50;
        --bg-page-professional-profile: #503b30;

        --bg-page-main-footer: #4b4b4b;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: Figtree, 'Segoe UI Emoji', helvetica;
}

html,
body {
    max-width: 100svw;
    min-height: 100svh;
    background-color: gray;
}

li {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
