view-timeline: --reveal block;
animation-timeline: --reveal;
animation-name: show;
animation-fill-mode: both;
animation-range: entry 25% cover 50%;




@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
