.performance-and-results {
    > .title {
        padding-bottom: var(--padding-container);
    }

    > section {
        > .my-work-experience {
            max-width: 45rem;
            margin: auto;
            border-left: dotted var(--color-warm-silver) 2px;
            border-right: dotted var(--color-warm-silver) 2px;
            padding: 0 var(--padding-organism);

            @media (width < 30rem) {
                padding: 0 var(--padding-atom);
            }
        }
    }
}
