.professional-profile {

    > .decorated-title {
        padding-bottom: var(--padding-container);
        color: var(--text-title-color);
    }

    > section {
        max-width: 80rem;
        margin: auto;
    }
}
