.picture {

    img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }

    &.regular {
        width: 25rem;
        height: 25rem;
    }

    &.adaptive {
        width: 100%;
        height: 100%;
    }

    &.auto {
        width: auto;
        height: auto;
    }

    &.my-photo {
        width: 26rem;
        transition: filter var(--transition-slow-seconds) ease;

        @media (width < 40rem) {
            width: auto;
        }
    }

    &.cover {
        > img {
            object-fit: cover;
        }
    }

    &.contain {
        > img {
            object-fit: contain;
        }
    }

    @starting-style {
        filter: opacity(0);
    }
}
