.manga {
    display: flex;
    gap: var(--gap-molecule);

    .manga__div {

        > .manga-page-main,
        .manga-page-secondary {
            > .unordered-list {
                display: grid;
                gap: 0 var(--gap-molecule);
                background-color: var(--color-light);

                > li {
                    padding: var(--padding-simple-atom);
                    background-color: var(--color-coffee-brown);
                }
            }
        }
    }
}
