.manga {
    --unit-rem: 0.5rem;

    display: flex;
    justify-content: center;

    .manga-page-main,
    .manga-page-secondary {
        background-color: #2c2c2c;

        > ul {
            width: 45rem;
            height: 60rem;
        }
    }
}
