 main {
     display: flex;
     flex-direction: column;
     gap: var(--gap-container);
     padding: var(--padding-container) var(--padding-molecule);
     background-color: var(--color-light-silver);

     > .performance-and-results,
     .professional-profile {
         max-width: 80rem;
         margin: auto;
     }
 }
