 main {
     > div {
         padding: var(--padding-container);

         .performance-and-results,
         .professional-profile,
         .personal-software-projects {
             max-width: 80rem;
             margin: auto;
         }
     }

     > div:nth-child(1) {
         background-color: var(--color-light-silver);
     }

     > div:nth-child(2) {
         background-color: #fee2cb;
     }

     > div:nth-child(3) {
         background-color: var(--color-light-silver);
     }
 }
