main {
    > scroll-page {
        display: block;
        padding: var(--padding-container) var(--padding-simple-organism);

        .work-experience-history,
        .professional-profile,
        .personal-software-projects {
            max-width: 70rem;
            margin: auto;
        }
    }

    > scroll-page:nth-child(1) {
        background-color: var(--color-light-silver);
    }

    > scroll-page:nth-child(2) {
        background-color: #fee2cb;
    }

    > scroll-page:nth-child(3) {
        background-color: var(--color-light-silver);
    }
}
