.manga-panel-project-description {

    > .title {
        line-height: 1;
        padding-bottom: var(--padding-simple-organism);
    }

    &:not(.is-mode-preview) {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 6rem);

        > .title {
            grid-column: 1 / 6;
            grid-row: 1;
        }

        > .manga-panel-project-description__bmo {
            grid-column: 1;
            grid-row: 2;
            justify-items: center;
        }

        > .typing-dialogue {
            grid-column: 3 / 6;
            grid-row: 2 / 6;
            z-index: 10;
        }

        > .pixel-art {
            grid-column: 1;
            grid-row: 3;
        }

        > .next-step-button {
            grid-column: 5;
            grid-row: 4;
            color: #fdc200;
            align-content: center;
        }

        > .hit-box-button {
            grid-column: 5;
            grid-row: 5;
            z-index: 10;
        }
    }
}
