.select-employment-summary {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-simple-molecule);
    padding: var(--padding-molecule);
    background-color: var(--bg-secondary);


    > .select-employment-summary__time {
        padding-top: var(--padding-simple-molecule);
    }
}
