.employment-summary {
    border-left: dotted #d49c6b var(--border-width-large);
    border-right: dotted #d49c6b var(--border-width-large);
    padding: 0 var(--padding-organism);

    > .employment-summary__information {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-organism);
        padding-bottom: var(--padding-simple-organism);
        color: var(--text-color);

        > .title {
            color: var(--text-color);
            color: #d49c6b;
        }

        > .employment-summary__paragraphs {
            display: flex;
            flex-direction: column;
            gap: var(--gap-simple-organism);
        }
    }

    @media (width < 30rem) {
        padding: 0 var(--padding-viewport);
    }
}
