.employment-summary {
    border-left: dotted #e7a86e var(--border-large-width);
    border-right: dotted #e7a86e var(--border-large-width);
    padding: 0 var(--padding-organism);

    > .employment-summary__information {
        display: flex;
        flex-direction: column;
        gap: var(--gap-simple-organism);
        padding-bottom: var(--padding-simple-organism);
        color: var(--text-color);

        > .title {
            color: #2f70af;
        }

        > .employment-summary__paragraphs {
            display: flex;
            flex-direction: column;
            gap: var(--gap-simple-organism);
        }
    }

    @media (width < 30rem) {
        padding: 0 var(--padding-viewport);
    }
}
