.primary-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-coffee-brown);
    gap: var(--gap-container);
    padding: var(--padding-container) var(--padding-molecule);
}
